body {
    background-color: #0b0f0b;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f5c2f;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 40px;
}

/* 🔴 BUTTON TOP */
.play-button {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 22px;
    background-color: #ff2d2d;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.play-button:hover {
    background-color: #b30000;
    transform: scale(1.05);
}

img {
    border-radius: 12px;
    border: 3px solid white;
    margin: 10px;
}

iframe {
    border-radius: 12px;
    border: 3px solid white;
}

footer {
    margin-top: 30px;
    padding: 15px;
    background-color: #111;
}
